@charset "UTF-8";


* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body,html {
    background-color: purple;
    width: 100vw;
    height: 100vh;
}
main {
    width: 250px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
}
div#imagem {
    background-image: url(../imagens/pexels-trace-hudson-2797752.jpg);
    height: 250px;
    margin: auto;
    border-radius: 25px 25px 0px 0px;
    
}


div#login {
    background-color: white;
    padding: 10px;
    padding-bottom: 50px ;
    margin: auto;
    border-radius: 0px 0px 40px 40px;
}

div#login > h1 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
    
}

div > form > p  {
    margin: 10px 0px;
    background-color: purple;
    padding: -5px;
    border-radius: 10px;
}

div form i {
    color: white;
    margin: 0px 0px 0px 5px;
    
}

div form input#email, form input#senha {
    background-color: lightskyblue;
    padding: 12px;
    margin-bottom: 2px;
    border-radius: 5px;
    
}

form input#entrar {
    display: block;
    background-color: darkturquoise;
    width: 230px;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
} 

form input#entrar:hover {
    background-color: dodgerblue;
}

div#login > p#esqueci {
    border: 1px solid darkturquoise;
    text-align: center;
    margin: 10px 2px 10px 2px;
    padding: 5px;
}

div#login a {
    color: rgb(20, 92, 165);
    text-decoration: none;
}

div#login p#esqueci:hover {
    background-color: darkturquoise;
}

i#email {
    font-size: 1em;
}

